.search {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  margin-right: 10px;
}

.btn-group {
  display: inline-block;
  vertical-align: middle;
}

.btn-group > div {
  margin: 0 10px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 30px;
}

.table {
  padding: 20px 20px 0;
  border: 1px solid #e0e0e0;
}

.table table thead th {
  background: white;
  border-bottom: 1px solid #e0e0e0;
}

.table table tbody td {
  border: 0;
  padding: 10px 8px;
}

.table table tbody tr:hover {
  background: rgba(21, 177, 255, 0.1);
}
