.main-nav {
  background: #23292E;

  color: #F6F6F6;
  font-size: 1.4rem;

  height: 100%;
  overflow: hidden;
  vertical-align: baseline;

}

.main-nav-header {
  font-size: 1.8rem;
  height: 100%;
  overflow: hidden;
}
.main-nav-menu {
  background: inherit;
  border: 0;
  line-height: 3.0rem;
}

.main-nav-menu li {
  font-size: 1.8rem;
  /*padding-bottom: 10rem;*/
  border-bottom: 0 !important;
  color: #858585 !important;
}

.main-nav-menu a {
  color: #858585 !important;
}

.main-nav-menu li.menu-item {
  border-bottom: 5px solid #23292E !important;
  width: 14rem;
  font-size: 1.6rem;
  text-align: center;
}
.main-nav-menu li.menu-item-selected {
  color: #F6F6F6 !important;
  border-bottom: 5px solid #2FA4FF !important;
  width: 14rem;
  font-size: 1.6rem;
  text-align: center;
}

.menu-item-selected > a{
  color: #F6F6F6 !important;
}

.logout-btn {
  margin: 0 1rem 1rem 0;
  border: 1px solid #2E99EC;
  color: #2E99EC;
  border-radius: 0.5rem;
  width: 6rem;
  text-align: center;
}
.logo, .productName {
  overflow: hidden;
  text-align: center;
}
.logo img,
.logo span {
  display: block;
  vertical-align: middle;
  color: #858585 !important;
  margin-top: 0.5rem;
  width: 100%;
  font-weight: bold;
}
.logo span {
  border-top: 1px solid #858585;
  padding-top: 0.2rem;
  letter-spacing: 0.1rem;
}
.modal {
  width: 90%;
  display: block;
  margin: 0 auto;
}
